#space {
    background-color: white;
    height: 60px;
    position: fixed; 
    top: 0%; 
    left: 0%; 
    width: 100%; 

}

#name {
    margin-top: 140px;
    display: inline;
    color: white; 
    background-color:#4aaaa5; 
    width: 200px;
    height: 20px; 
    padding-bottom: 25px; 
    border: solid 0px #4aaaa5;
    display: inline;
    margin-right: 925px; 
    }

    #port {
        font-family: 'Georgia', Times, Times New Roman, serif;
        color: #4aaaa5; 
        margin-right: 975px; 
    }

    hr {
      background-color:#cccccc;
      height: 3px;
      border-radius: 2px;
      margin-right: 30px;    
    }

    ul {
        list-style-type: none;
         display: inline;
       padding-inline-start: 10px; 
         }
   
     li {
       display: inline 100px; 
       
     }
   
   #a {
             padding-right:475px; 
             float: right;
             padding-bottom: 50px; 
             
       }
   
   #b {
       padding-right:30px; 
       float: right;
   }
   
   #c {
       padding-right:30px; 
       float: right;
   }

   body {
    text-align: center;
    background-color: #dddddd;
    padding-bottom: 40px; 
    padding-left: 20%; 
    }

#lastbox { 
    padding-top: 7px; 
    padding-bottom: 7px; 
    color: lightgray;
    background: grey;
    width: 100%;
    bottom: 0px;
    position: fixed;
    left:0px; 
    border-top: 7px solid #4aaaa5;
    text-align: center; 
    }

    #whitespace {
text-align: center;
background-color: white; 
height: 850px; 
width: 70%; 
padding-left: 20px; 
margin-bottom: 75px;  

    }
    
    #ipad {
        width: 200px; 
        height: 200px; 
        right: 350px; border: #dddddd; 
        padding-right: 5px;
        margin-right: 50px;
        box-sizing: border-box;   
    }

    #rpg {
            width: 200px; 
            height: 200px; 
             left: 300px;
             padding-right: 300px; 
    }

    #box1 {
margin-right: 175px; 

    }

    #ear {
        width: 200px; 
        height: 200px; 
        right: 350px; border: #dddddd; 
        padding-right: 5px;
        margin-right: 50px;
        box-sizing: border-box; 
         
    }

    #phone {
        width: 200px; 
        height: 200px; 
         left: 300px;
         padding-right: 300px; 
         
    }
    #box2 {
        margin-right: 175px; 
    }

    #tv {
        width: 200px; 
        height: 200px; 
        right: 350px; border: #dddddd; 
        padding-right: 5px;
        margin-right: 50px;
        box-sizing: border-box;   
    }

    #box3 {
        margin-right: 675px; 
    }

    .container {
        position: relative;
        font-family: Arial;
      }
      
      .text-block {
        position: absolute;
        bottom: 20px;
        right: 20px;
        background-color:#4aaaa5;
        color: white;
        padding-left: 20px;
        padding-right: 20px;
      }